<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<% @question.answers.each do |answer| %>
  <p><%= answer.title %></p>
  <p>Jumlah vote: <%= answer.votes.count %></p>
  <% unless answer.votes.collect(&:username).include? current_user %>
    <p><%= button_to 'Vote', votes_path, params: {answer_id: answer.id} %></p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
