<p id="notice"><%= notice %></p>

<h2><%= @question.title %></h2>
<h5><%= @question.body %></h5>

<br />

<div class="row">
  <% @question.answers.each do |answer, idx| %>
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title"><%= answer.title %></h4>
          <p class="card-text">
            Jumlah vote:
            <span id="answer_<%= answer.id %>_votes_count"><%= answer.votes.count %></span>
          </p>
          <%= button_to 'Vote', votes_path, params: {answer_id: answer.id}, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br />

<div class="row">
  <div data-channel="question_comments" data-question-id="<%= @question.id %>" class="card card-block bg-faded" style="height: 30rem;">
    <div class="stream" style="overflow: auto;">
      <% @question.question_comments.each do |question_comment| %>
        <%= "#{question_comment.username}: #{question_comment.body}" %><br />
      <% end %>
    </div>
    <br />
    <div class="new_question_comment">
      <div class="field">
        <%= text_field :question_comment, :body, class: "form-control input-lg" %>
      </div>
    </div>
  </div>
</div>

<br />

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
